
project_id = "vrngwrqfbwfteqzmvppo"
[api]
enabled = true
port = 54321
schemas = ["public", "storage"]

[db]
port = 54322

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[inbucket]
enabled = true
port = 54324

[storage]
enabled = true
port = 54325

[functions]
enabled = true
port = 54326
[functions.create-checkout-link]
verify_jwt = false
[functions.mercado-pago-webhook]
verify_jwt = false

